main {
  width: 100%;
  max-width: 1420px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main > aside {
  position: sticky;
  top: 50px;
  flex: 0 0 300px;
}