.list-products {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 20px;
}

.product {
  position: relative;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* ---------- Favorite ---------- */

.product .favorite {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.product .favorite > button {
  background-color: transparent;
}

/* ---------- Image ---------- */

.product .image {
  width: 170px;
  margin: 0 auto;
}

.product img {
  width: 100%;
}

/* ---------- Name ---------- */

.product .name {
  height: 45px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  font: 600 1.6rem var(--fontPrimary);
}

/* ---------- Units ---------- */

.product .units {
  font: 500 1.6rem var(--fontPrimary);
  color: var(--fontColorGray);
}

/* ---------- Rating ---------- */

.product .rating {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

/* ---------- Price ---------- */

.product .price {
  font: 600 1.8rem var(--fontPrimary);
}

.price-with-discount {
  font-size: 1.2rem;
  color: var(--fontColorGray);
}

.price-with-discount > span {
  color: var(--discountColor);
}

/* ---------- Button ---------- */

.product .add-button > button {
  display: none;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  color: #fff;
  font: 500 1.4rem var(--fontPrimary); 
  background-color: var(--primaryColor);
  border-radius: 3px;
}

/* -------- Hover State ---------- */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.product:hover .price {
  display: none;
}

.product:hover :is(.add-button > button, .favorite) {
  display: block;
  animation: fadeIn 0.3s forwards;
}