@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

header.page-header {
  height: 100px;
  background-color: #fff;
  padding: 0 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 10%);
  display: flex;
  justify-content: space-between;
}

header.page-header a {
  text-decoration: none;
}

/* ---------- Logo ---------- */

header.page-header > div, header .tech-store-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

header.page-header .tech-store-logo > h1 {
  justify-content: center;
  cursor: pointer;
  font-size: 3.6rem;
  font-family: var(--fontLogo);
  color: var(--techStoreLogoPrimaryColor);
}

header.page-header .tech-store-logo span {
  color: var(--primaryColor);
}

header.page-header .container-tools {
  gap: 40px;
}

/* ---------- SearchBar ---------- */

.container-search-bar {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
}

.container-search-bar > :is(input, button) {
  height: 100%;
}

.container-search-bar > button, .btn-cart {
  background-color: transparent;
}

.container-search-bar > input {
  flex: 1 0;
  color: var(--fontColorGray); 
  font: 1.6rem var(--fontPrimary);
  padding: 0 5px;
  border: none;
  outline: none;
}

/* ---------- Cart ---------- */

.btn-cart {
  padding: 5px;
  position: relative;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-cart > svg {
  vertical-align: bottom;
}

.btn-cart > .cart-amount {
  position: absolute;
  top: -2px;
  right: 2px;
  width: 20px;
  height: 20px;
  padding: 2px;

  border-radius: 3px;
  background-color: var(--primaryColor);
  font: 1.2rem var(--fontPrimary);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-cart:hover {
  background-color: rgba(0, 0, 0, 5%);
}