@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #FF5151;
  --filledStarColor: #FFBA07;
  --unfilledStarColor: #D9D9D9;
  --fontPrimary: 'Open Sans', sans-serif;
  --fontLogo: 'Ubuntu', sans-serif;
  --fontColorGray: #787878;
  --techStoreLogoPrimaryColor: #363636;
  --homeBackgroundColor: #FAFAFA;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--fontPrimary);
  background-color: var(--homeBackgroundColor);
}

body, html {
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}